{% extends 'todo_list/base.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin:0"> You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s"}}</h3>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'todo:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'todo:login' %}">Login</a>
    {% endif %}

</div>


<div id="search-add-wrapper">
    <form method="GET" style="margin-top: 20px; display: flex;">
        <input type="text" name="search-area" value="{{search_input}}">
        <input class="button" type="submit" value="Search">
    </form>
    <a id="add-link" href="{% url 'todo:create' %}">&#x2b;</a>
</div>





<div class="task-items-wrapper">
    {% for task in tasks %}
        <div class="task-wrapper">
            {% if task.complete %}
                <div class="task-title">
                    <div class="task-complete-icon"></div>
                        <i><s><a href="{% url 'todo:edit' task.id %}">{{task}}</a></s></i>
                </div>
            <a class="delete-link" href="{% url 'todo:delete' task.id %}">&#215;</a>
            {% else %}
                <div class="task-title">
                    <div class="task-incomplete-icon"></div>
                        <a href="{% url 'todo:edit' task.id %}">{{task}}</a>
                </div>
            <a class="delete-link" href="{% url 'todo:delete' task.id %}">&#215;</a>
            {% endif %}

        </div>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</div>
{% endblock content %}