{% extends 'todo_list/base.html' %}
{% block content %}


<div class="header-bar">
    <a href="{% url 'todo:list' %}">&#8592 Back</a>
</div>

<div class="card-body">
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Submit">
    </form>
</div>


{% endblock content %}